.form-container {
    display:block;
    width:75%;
    padding-top: 125px;
    margin: 2em auto;
    background:#fff;
  }

  h3{
      padding-bottom: 5px;
  }

  p{
    display:block;
    width:75%;
    margin: 2em auto;
    background:#fff;
  }